<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tt.handsomeman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".HandymanApp"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".ui.handyman.more.ChangePassword"/>
        <activity android:name=".ui.handyman.more.TransferToBank" />
        <activity android:name=".ui.handyman.more.TransferHistory" />
        <activity android:name=".ui.handyman.more.ViewPayout" />
        <activity android:name=".ui.handyman.more.AddNewPayout" />
        <activity android:name=".ui.handyman.more.AddNewSkill" />
        <activity android:name=".ui.handyman.more.MyProfileEdit" />
        <activity android:name=".ui.handyman.more.MyProfile" />
        <activity android:name=".ui.handyman.messages.Conversation" />
        <activity android:name=".ui.handyman.jobs.bid_job_detail.BidJobDetail" />
        <activity android:name=".ui.handyman.jobs.CustomerProfileJobDetail" />
        <activity android:name=".ui.handyman.jobs.JobDetail" />
        <activity android:name=".ui.handyman.jobs.JobFilterResult" />
        <activity android:name=".ui.handyman.jobs.JobFilter" />
        <activity android:name=".ui.handyman.jobs.GroupByCategory" />
        <activity android:name=".ui.handyman.jobs.YourLocation" />
        <activity
            android:name=".ui.handyman.HandyManMainScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.handyman.SignUpAddPayout" />
        <activity android:name=".ui.handyman.ForgotPassword" />
        <activity android:name=".ui.handyman.Register" />
        <activity android:name=".ui.handyman.Login" />
        <activity android:name=".ui.handyman.SignUp" />
        <activity android:name=".ui.handyman.Start" />
        <activity
            android:name=".ui.handyman.OnBoardingSlidePagerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ui.handyman.messages.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzEI6AAHYuzXQOj9fdD2fEpH2gTcaam48" />
    </application>

</manifest>